<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muyu.minimalism" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
